body {
    height: 100%;
    background-color: #1E262E;
    font-family: "-apple-system, Roboto, sans-serif, serif",
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 15%;
    padding-right: 6%;
    padding-left: 10%;
}

header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    header img {
      height: 100%;
      width: 50px;
    }
}