.navSocial {

}

.navSocial a {
    text-decoration: none;
    color: white;
    font-size: 21px;
}

.navSocial ul {
    padding: 0px;
    margin: 0px;
}

.navSocial li {
    height: 48px; 
    width: 48px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .navSocial li {
        height: 30px; 
        width: 30px;
    }
}

.navSocial li:hover {
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.navSocial li:hover a {
    color: #191919; 
}

.navSocial li:hover .tooltiptext {
    opacity: 0.8;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}


.tooltiptext {
    opacity: 0;
    width: 120px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 140%;
  }
  
.tooltiptext:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #303030 transparent;
}